# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
vera/frontend/node_modules
vera/frontend/package-lock.json
.pnp
.pnp.js

# testing
coverage/

# next.js
vera/frontend/.next
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python env
backend/.venv/
backend/venv/
vera/.venv
vera/.venv/*

# backend temp_files
vera/backend/data/*

# __pychache__
__pycache__/
*.pyc
vera/backend/core/__pycache__

